page-home {
    .item-ios p {
      overflow: inherit;
      font-size: 1.4rem;
      line-height: normal;
      text-overflow: inherit;
      color: #000000;
      margin: 0 0 2px;
    }

    .item-md p {
      overflow: inherit;
      font-size: 1.4rem;
      line-height: normal;
      text-overflow: inherit;
      color: #000000;
      margin: 0 0 2px;
    }

}
