page-home {

    .item p {
      overflow: inherit;
      font-size: 1.4rem;
      line-height: normal;
      text-overflow: inherit;
      color: #000000;
      margin: 0 0 2px;
    }

    b {
      color:#06a0e9
    }

    h6 {
      font-size: 11px !important;
      font-style: italic;
    }

}
